{% load staticfiles %}



{% if all_current_productions %}
    
    {% for itens in all_current_productions %}
    <div class="container">    
    <table class="table">
	<h2>{{ itens.bom_name }} - Versão: {{ itens.bom_version }}</h2>
        <p></p>
        <thead><tr>
	<th>Production date</th>
	<th>Expected date</th>
	<th>Itens em Estoque</th>
	<th>Itens no BOM</th>
        <th>Itens Faltantes</th>
	</tr></thead>
        <tbody><tr>
	<td>{{ itens.date_production }}</td>
	<td>{{ itens.date_return }}</td>
        <td>	
	    <div>{{ itens.get_part_itens }}</div>
        </td>	
        <td>	
	{% for p in itens.get_bom_itens %}
	    <div>{{ p|first }} - {{ p|last }}</div>
	{% endfor %}
        </td>
	<td>{{ get_compare_itens }}</td>
        </tr></tbody>
    </table>
    </div>    
    {% endfor %}
 
{% endif %}

