{% load staticfiles %}

<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">

{% if all_current_productions %}   

    <div class="container">  
  
	<div class="page-header">
	<h1>productions</h1>
	</div>

	{% for itens in all_current_productions %}

	<div class="col-xs-6">
	<h3>{{ itens.bom_name }} - Versão: {{ itens.bom_version }}</h3>
	<table class="table">

	<thead>
	<tr>	
	<th>Empresa<th>
	<th>Contato</th>
	<th>Informações</th>
	<th>Envio</th>
	<th>Retorno</th>
	</tr>
	</thead>

	<tbody>
	<tr>
	<td>{{ itens.name_enterprise }}</td>
	<td>{{ itens.contact }}</td>
	<td>{{ itens.info }}</td>
	<td>{{ itens.date_production }}</td>
	<td>{{ itens.date_return }}</td>
	</tr>
	</tbody>

	</table>
	</div>

	<div class="col-xs-6">
	<table class="table">

	<thead>
	<tr>	
	<th>Estoque<th>
	<th>BOM</th>
	<th>Faltam/Restam</th>
	</tr>
	</thead>

	<tbody>
	<tr>
	<td>{{ itens.get_part_itens }}</td>
	<td>
	{% for p in itens.get_bom_itens %}
	    <div>{{ p|first }} - {{ p|last }}</div>
	{% endfor %}
	</td>
	<td>
	{% for l in itens.get_compare_itens %}
	    <div>{{ l }}</div>
        {% endfor %}
	</td>
	</tr>
	</tbody>

	</table>
	</div>

	{% endfor %}

    </div>    
    
 
{% endif %}

