{% load staticfiles %}

<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">

<div class="container content">   

<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">DIG</a>
    </div>
    <ul class="nav navbar-nav">
      <!--<li class="active"><a href="#">Dashboard</a></li>
      <li><a href="#">Digstock</a></li>
      <li><a href="#">Productions</a></li> 
      <li><a href="#">Purchases</a></li> -->
    </ul>
  </div>
</nav> 

{% block content %}
{% endblock %}

</div>    
    
 



